header{
    background-color: aqua;
    align-items: center;

    nav{
        background-color: aquamarine;
        align-items: center;

        ul{
            position:relative;
            left: 60%;
            
        }

        li{
            display: inline;
            border-right: 1px solid aquamarine;
        }
        li:hover{
            color: red;
            background-color: antiquewhite;
        }
        
    }
   

}
img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
img:hover{
     width: 600px;
    height: 600px;
}
#matrixHading{
    background-image: url("./imge/matrix.png");
    height: 100px;
    color: aqua;
    h1{
        align-items: center;
    }
}